# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Streamlit cache
.streamlit/
.venv/
__pycache__/
*.pyc
.env
.streamlit/secrets.toml
.DS_Store
node_modules/
.vscode/
